extends ../layout

block content
    div
        form(action="/users")
            input(name="username",type="text" value="jhonYu")
            br
            input(name="password",type="password" value="123456")
            br
            button(name="submit",type="submit" ) 登录

