extends ../layout

block content
    .container.bg-photo
        .tap-login
            form.form-signin(role='form' method='post' action="/users/add" )
                h2.form-signin-heading 欢迎登录
                input.form-control(name='name' type='type', placeholder='Username', required='', autofocus='')
                input.form-control(name='password' type='password', placeholder='Password', required='')
                .checkbox
                    label
                        input(type='checkbox', value='remember-me')
                        |  Remember me
                button.btn.btn-lg.btn-primary.btn-block(type='submit') 登录

